<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headTag (title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${title}]]</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<div th:fragment="footerTag">
<footer class="bg-light py-4 fixed-bottom">
    <div class="container">
        <div class="row">
            <p class="text-center mb-0">&copy; 2024 Sai Maheshwaran Rajan. All rights reserved.</p>
        </div>
    </div>
</footer>
</div>

<div th:fragment="jsTag">
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/all.js}"></script>
</div>

</html>