<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Sai Maheshwaran Rajan</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container-fluid px-0">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <span class="material-icons-outlined me-1">important_devices</span>
                Sai Maheshwaran Rajan
            </a>
            <button
                    type="button"
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container px-3">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link me-lg-3" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3" href="#projects">Projects</a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link me-lg-3" href="#testimonials">Testimonials</a>-->
<!--                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link me-lg-3" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Hero -->
    <header class="bg-light py-5">
        <div class="container px-5">
            <div class="row align-items-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5">
                        <h2 class="text-center fw-bold mb-2">Hi! I am Sai,</h2>
                        <h2 class="text-primary text-center fw-bold mb-2">Test Automation Architect</h2>
                        <p class="lead text-muted mb-4">
                            I specialize in building / managing enterprise level test automation framework, testing standards and processes. Scroll down to see what I have been working on.
                        </p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-center">
                            <a class="btn btn-primary btn-large text-uppercase" href="#about">
                                Learn More
                                <span class="material-icons-outlined ms-2">help_outline</span>
                            </a>
                            <a class="btn btn-outline-primary btn-large text-uppercase" href="#projects">
                                View My Work
                                <span class="material-icons-outlined ms-2">manage_search</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 justify-content-center">
                    <img class="img-fluid rounded-3 my-5" src="img/hero.jpeg" alt="Hero Image">
                </div>
            </div>
        </div>
    </header>
    <!-- End Hero -->

    <main>
        <!-- About -->
        <section id="about" class="text-center py-5">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <h2 class="fw-bold">About</h2>
                    <p class="lead text-muted mb-5">
                        I am Test Automation Architect and Management Executive who builds / manages enterprise level test automation framework, testing standards and processes.
                    </p>
                </div>
            </div>
            <div class="container mb-5">
                <div class="row">
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="d-flex mb-5 about">
                            <span class="material-icons-outlined m-auto text-primary">palette</span>
                        </div>
                        <h5>Design</h5>
                        <p class="text-muted mb-0">
                            I create test automation framework using java / C# / Python.
                        </p>
                    </div>
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="d-flex mb-5 about">
                            <span class="material-icons-outlined m-auto text-primary">code</span>
                        </div>
                        <h5>Development</h5>
                        <p class="text-muted mb-0">
                            I develop and implement testing standards and processes.
                        </p>
                    </div>
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="d-flex mb-5 about">
                            <span class="material-icons-outlined m-auto text-primary">settings</span>
                        </div>
                        <h5>Launch & Maintenance</h5>
                        <p class="text-muted mb-0">
                            I will help you launch it and
                            guide you or manage the entire testing center of excellence.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About -->

        <hr>

        <!-- Projects -->
        <section id="projects" class="text-center py-5">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <h2 class="fw-bold">Projects</h2>
                    <p class="lead text-muted mb-5">View some of my latest projects</p>
                </div>
            </div>
            <div class="container mb-5">
                <div class="row">
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="card h-100 shadow-lg border-0 bg-light">
<!--                            <iframe class="card-img-top" height="250px" src="vid/IVR_Demo.mov"></iframe>-->
                            <img class="card-img-top" src="img/ivr.png" alt="Project 1">
                            <div class="card-body p-4">
                                <h5 class="card-title mb-3">IVR Automation</h5>
                                <div class="mb-2">
                                    <div class="badge bg-primary rounded-pill">Java</div>
                                    <div class="badge bg-primary rounded-pill">Spring-boot</div>
                                    <div class="badge bg-primary rounded-pill">Voice AI</div>
                                </div>
                                <p class="card-text">
                                    Interactive voice response (IVR) testings using Java,
                                    Spring-boot, Twilio, and natural language processing.
                                </p>
                            </div>
                            <div class="card-footer bg-transparent mb-3">
                                <a
                                        class="btn btn-outline-primary btn-sm text-uppercase"
                                        href="#contact"
                                        target="_blank"
                                >
                                    <span class="material-icons-outlined me-1">code</span>
                                    Contact to know more
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="card h-100 shadow-lg border-0 bg-light">
                            <img class="card-img-top" src="img/sap.png" alt="Project 2">
                            <div class="card-body p-4">
                                <h5 class="card-title mb-3">Web & Desktop Automation</h5>
                                <div class="mb-2">
                                    <div class="badge bg-primary rounded-pill">Selenium</div>
                                    <div class="badge bg-primary rounded-pill">Cucumber</div>
                                    <div class="badge bg-primary rounded-pill">SAP</div>
                                </div>
                                <p class="card-text">
                                    SAP Test Data creation using Selenium, Cucumber, and Jacob library.
                                    Typical BDD style automation execution.
                                </p>
                            </div>
                            <div class="card-footer bg-transparent mb-3">
                                <a
                                        class="btn btn-outline-primary btn-sm text-uppercase"
                                        href="#contact"
                                        target="_blank"
                                >
                                    <span class="material-icons-outlined me-1">code</span>
                                    Contact to know more
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="card h-100 shadow-lg border-0 bg-light">
                            <img class="card-img-top" src="img/vbs.png" alt="Project 3">
                            <div class="card-body p-4">
                                <h5 class="card-title mb-3">Data Automation</h5>
                                <div class="mb-2">
                                    <div class="badge bg-primary rounded-pill">Visual Basic</div>
                                    <div class="badge bg-primary rounded-pill">Excel Macro</div>
                                    <div class="badge bg-primary rounded-pill">WAM</div>
                                </div>
                                <p class="card-text">
                                    Simple Excel Visual basic macro to test data integrity and accuracy of wealth management
                                    software.
                                </p>
                            </div>
                            <div class="card-footer bg-transparent mb-3">
                                <a
                                        class="btn btn-outline-primary btn-sm text-uppercase"
                                        href="#contact"
                                        target="_blank"
                                >
                                    <span class="material-icons-outlined me-1">code</span>
                                    Contact to know more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Projects -->

<!--        <hr>-->

        <!-- Testimonials -->
<!--        <section id="testimonials" class="text-center py-5">-->
<!--            <div class="container py-5">-->
<!--                <div class="row justify-content-center">-->
<!--                    <h2 class="fw-bold">Testimonials</h2>-->
<!--                    <p class="lead text-muted mb-5">Check what clients have said about my work</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="container mb-5">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-4 mx-auto mb-5">-->
<!--                        <div class="text-center fs-4 fst-italic mb-4 px-2">-->
<!--                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut-->
<!--                            quis elit ut tellus tempus pharetra.-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-center testimonial">-->
<!--                            <img class="rounded-circle me-3" src="img/user1.png" alt="User 1">-->
<!--                            <div class="fw-bold">-->
<!--                                Amy Jones-->
<!--                                <span class="text-primary mx-1">/</span>-->
<!--                                CEO, Company 1-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 mx-auto mb-5">-->
<!--                        <div class="text-center fs-4 fst-italic mb-4 px-2">-->
<!--                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut-->
<!--                            quis elit ut tellus tempus pharetra.-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-center testimonial">-->
<!--                            <img class="rounded-circle me-3" src="img/user2.png" alt="User 2">-->
<!--                            <div class="fw-bold">-->
<!--                                James Smith-->
<!--                                <span class="text-primary mx-1">/</span>-->
<!--                                CEO, Company 2-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 mx-auto mb-5">-->
<!--                        <div class="text-center fs-4 fst-italic mb-4 px-2">-->
<!--                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut-->
<!--                            quis elit ut tellus tempus pharetra.-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-center testimonial">-->
<!--                            <img class="rounded-circle me-3" src="img/user3.png" alt="User 3">-->
<!--                            <div class="fw-bold">-->
<!--                                Mary Richards-->
<!--                                <span class="text-primary mx-1">/</span>-->
<!--                                CEO, Company 3-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- End Testimonials -->

        <hr>

        <!-- Contact -->
        <section id="contact" class="text-center py-5">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <h2 class="fw-bold">Contact</h2>
                    <p class="lead text-muted mb-5">
                        Do you need an enterprise level test automation architect or test management executive? I would love to hear
                        from you.
                    </p>
                </div>
            </div>
            <div class="container mb-5">
                <div class="row">
                    <div class="col-xl-5 col-xxl-6 mb-5">
                        <div id="map"></div>
                    </div>
                    <div class="col-lg-8 col-xl-7 col-xxl-6 mb-5">
                        <div class="mb-5">
                            <h6 class="text-uppercase mb-2">Address</h6>
                            <p class="lead mb-0">Jacksonville, Florida</p>
                        </div>
<!--                        <div class="mb-5">-->
<!--                            <h6 class="text-uppercase mb-2">Phone</h6>-->
<!--                            <p class="lead mb-0">123123123</p>-->
<!--                        </div>-->
                        <div class="mb-5">
                            <h6 class="text-uppercase mb-2">Email</h6>
                            <p class="lead mb-0">saimaheshwaran@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact -->
    </main>
</div>

<hr>

<!-- Footer -->
<footer class="text-center py-4">
    <div class="container px-5 mb-2">Copyright &copy; 2025 Sai Maheshwaran Rajan.</div>
</footer>
<!-- End Footer -->

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.js}"></script>

<!-- Custom JS -->
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>